body {
  background-color:wheat;
}

.titulo1 {
  /* hexadecimal 0 - 9 ABCDEF -> 0F 9F 5A FF */
  /* 3 pares, #RRGGBB */
  color: #2398f2;
}

.titulo2 {
  /* 4 pares, #RRGGBBAA */
  /* Alpha, transparencia */
  color: #45df6433;
}

.titulo3 {
  /* 0 a 255 en 3 pares + 1 alpha */
  /* rgba(rojo, verde, azul, alpha) */
  /* Alpha, va de 0 a 1 */
  color: rgba(120, 20, 240, 0.3);
}

.titulo4 {
  /* hsl(color, saturacion, brillo)  */
  /* hsl(numeros, porcentaje, porcentaje) */
  color: hsl(240, 50%, 50%);
}

.caja1 {
  /* linear-gradient(direccion, ...colores); */
  background: linear-gradient(to right, red, orange, yellow);
}

.caja2 {
  background: radial-gradient(circle, blue, steelblue, aqua);
  height: 400px;
}

.caja3{
  height: 400px;
  border: 2px solid red;
  /* No usen imagenes de fondo */
  background-image: url("https://images.unsplash.com/photo-1526697675318-89790adec369?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size:cover;
  background-position: center;
  /* transparencia */
  opacity: 0.5;
  filter:grayscale(0.5);
}
