* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding:20px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: blue;
}

main {
  font-size: 20px;
}

p {
  font-family: Helvetica, sans-serif;
  /* el elemento más cercano */
  font-size: 0.75em; /*15px*/
  /* padding: 32px; */
  padding: 0.5em;
  /* %usa como referencia al ancho del elemento padre */
  width: 50%;
}

span {
  color:forestgreen;
  /* rem es tomar el valor más lejano, el del html que es 16px */
  font-size: 0.75rem;
  font-family: Helvetica, sans-serif;
}

/*
  @media <medio-dispositivo> and <breakpoint-condicional> {
    selector {
      agregar o reemplazar propiedades
    }
  }
*/
/* mayor */
@media (width <= 768px) {
  header {
    color:darkviolet;
  }

  p {
    font-size: 20px;
  }
}

/* a menor */
@media screen and (width <= 440px) {
  header {
    color: red;
    font-size: 36px;
    background-color:gold;

  }
}
