* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding:20px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: blue;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding: 32px;
}
