* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding:20px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: blue;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding: 32px;
}

/*
  @media <medio-dispositivo> and <breakpoint-condicional> {
    selector {
      agregar o reemplazar propiedades
    }
  }
*/
/* mayor */
@media (width <= 768px) {
  header {
    color:darkviolet;
  }

  p {
    font-size: 20px;
  }
}

/* a menor */
@media screen and (width <= 440px) {
  header {
    color: red;
    font-size: 36px;
    background-color:gold;

  }
}
