* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */
  border:2px solid red;
}

h1 {
  width: 170px;
  font-size: 28px;
}

.parrafo1 {
  /* block, como bloques de lego, es la disposición que tiene la gran mayoria de elementos tiene este display */
  display:block;
  width:190px;
}

.parrafo2 {
  width: 270px;
}

span {
  /* el display inline, se acomoda al resto del contenido, el tamaño esta definido por el contenido */
  display:inline;
  background-color:aqua;
  width: 1000px;
}

/* elementos como input, button, label, tiene un display llamado inline-block */
button {
  width: 200px;
  height: 60px;
}

input {
  display: inline-block;
  width:100px;
  height: 50px;
  /* margin: 20px; */
}

aside{
  border: 2px solid blue;
  width:404px;
}

/* inline-block trae unos espacios por defecto que no se pueden remover */
.publicidad {
  width:200px;
  display:inline-block;
}
