* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.padre {
  height: 500px;
  width: 100%; /*el elemento en este caso es el body*/
  border:3px solid blue;
  display: flex;
  /* justify-content me permite alinear horizontalmente */
  /* center, centra a los elementos */
  /* space-between, entre elementos */
  /* space-around, alrededor de elementos */
  /* space-evenly, espacio parejo entre y al costado */
  justify-content: center;

}

.caja{
  width: 100px;
  height: 100px;
  border:3px solid red;
  background-color: coral;
}
