* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.padre {
  height: 500px;
  /* % toma en cuenta el tamaño del elemento padre inmediato */
  width: 100%; /*el elemento en este caso es el body*/
  border:3px solid blue;
  display: flex;
  /* justify-content me permite alinear horizontalmente */
  /* center, centra a los elementos */
  /* space-between, entre elementos */
  /* space-around, alrededor de elementos */
  /* space-evenly, espacio parejo entre y al costado */
  justify-content: center;
  /* align-items, alinea verticalmente */
  /* flex-start los pone al inicio */
  /* center, centra */
  /* flex-end los pone al final */
  align-items: center;
  /* gap, brecha */
  gap: 20px;
  /* flex-direction, que indica la dirección del flex */
  /* propieddes como justify-content y align-items cambian */
  flex-direction: column;
}

.caja{
  width: 100px;
  height: 100px;
  border:3px solid red;
  background-color: coral;
}
