* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temp */
  /* border: 2px solid red; */
}

/* estilos generales */

a {
  /* text-decoration, el subrayado para cualquier texto */
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 1200px;
  margin:0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 88px;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  font-size:30px;
  font-weight: 900;
}

.btn {
  padding: 15px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-white {
  border:2px solid black;
}

.btn-black {
  border:2px solid black;
  color: white;
  background-color: black;
}

.btn-sm {
  padding: 8px 15px;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;
}

.slogan {
  font-size: 72px;
  font-weight: 300;
}

.header-btns {
  display: flex;
  gap: 20px;
}

.header-img {
  margin-top: 20px;
}

