* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temp */
  /* border: 2px solid red; */
}

/* estilos generales */

a {
  /* text-decoration, el subrayado para cualquier texto */
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 1200px;
  margin:0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 88px;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  font-size:30px;
  font-weight: 900;
}

.btn {
  padding: 15px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-white {
  border:2px solid black;
}

.btn-black {
  border:2px solid black;
  color: white;
  background-color: black;
}

.btn-sm {
  padding: 8px 15px;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;
}

.slogan {
  font-size: 72px;
  font-weight: 300;
}

.header-btns {
  display: flex;
  gap: 20px;
}

.header-img {
  margin-top: 20px;
}

/* section questions */

.questions {
  height: 500px;
  display: flex;
  padding: 64px 0;
}

.question-orange {
  border-top:4px solid orangered;
}

.question-orange .fa-message {
  color: orangered;
  margin: 20px 0 30px 0;
}

.question-title {
  /* tamaño de la letra */
  font-size: 54px;
  /* grosor de la letra */
  font-weight: 300;
}

.question-blue {
  border-top: 4px solid steelblue;
  /* alinea un elemento que este dentro de un elemento padre con flex para alinearse verticalmente el solo */
  align-self: flex-end;
}

.question-blue .fa-message {
  color: steelblue;
  margin: 20px 0 30px 0;
}

/* section join */
.bg-gold {
  width:100%;
  background-color: #FED501;
}

.join {
  padding:64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.join-title {
  font-size: 48px;
  font-weight: 300;
}

.join-text{
  font-weight: 300;
}

/* section data */
.data {
  padding:64px 36px;
}

.data-title {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 30px;
}

.data-table {
  width: 100%;
  /* para que los td se unan usamos esta propiedad */
  border-collapse: collapse;
}

/*
.data-table tr {
  background-color: gold;
  no se aplica para tr el border-radius
  border-radius: 20px;
}
*/

.data-table td {
  /* border:2px solid black; */
  padding: 16px;
}

.data-table tr:nth-of-type(odd) td{
  background-color: #FED501;
}

/* first-child, el primer hijo */
.data-table tr:nth-of-type(odd) td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* last-child, el último hijo */
.data-table tr:nth-of-type(odd) td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.open-menu, .close-menu {
  display: none;
}

#checkbox-menu {
  /* esconde un elemento pero si esta siendo renderizado */
  visibility: hidden;
}

/* @media screen and (width <= 768px) { */
@media (width <= 768px) {

  .open-menu, .close-menu {
    display: block;
    cursor: pointer;
  }

  .close-menu {
    align-self: self-end;
  }

  .links {
    background-color: #FED501;
    flex-direction: column;
    /* align-items: center; */
    gap: 40px;
    font-size:20px;
    position: fixed;
    top:0;
    right:-100vw;

    width: 100vw;
    height: 100vh;
    padding:30px;
  }

  #checkbox-menu:checked ~ .links {
    right:0;
  }

  .container {
    padding:16px;
  }

  .header {
    gap:24px;
  }

  .slogan {
    font-size:56px;
  }

  .header-img {
    width:100%;
  }

  /* questions */
  .questions {
    flex-direction: column;
    /* fit-content para ajustar al contenido */
    height: fit-content;
    gap:30px;
  }

  .question-title {
    font-size: 32px;
  }

  .join {
    padding: 40px 0;
  }

  .join-title {
    font-size: 32px;
  }

  /* tablas NO distorcionarlas */
  .data {
    /* en el eje x y scroll para la barra de desplazamiento */
    overflow-x: scroll;
  }

  .data-table {
    width: 700px;
  }
}
