/* selector universal, todos*/
* {
  /* border: 1px solid red; */
  border-width: 1px;
  border-color: red;
  border-style: solid;
}

/* selector de etiqueta */
header {
  background-color:yellow;
}

p {
  font-family: Courier;
}

/* selectores de clase, .nombreclase */
.importante {
  font-weight: bold;
  font-size: 20px;
}

.principal {
  background-color: lightblue;
}

/* selectores de id, #nombredelid */
#secundario {
  color: green;
  font-size: 22px;
}

span {
  font-family: Arial;
  color:purple;
}

#subtitulo {
  /* usar !important tampoco se considera buena práctica */
  color:peru !important;
  font-family: Arial;
}
