* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */
  /* border: 2px solid red; */
}

.container {
  max-width: 1200px;
  /* el min-width hace que un elemento solo sea posible reducirlo hasta el tamaño indicado  */
  min-width: 800px;
  /* es hasta donde puede reducirse su altura */
  min-height: 1000px;
  /* es hasta donde puede crecer su altura */
  max-height: 1200px;
  margin:0 auto;
  padding:40px;
  /* grid */
  display: grid;
  gap:20px;
  /* grid-explícito, una grilla de 4x4 */
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(4, minmax(150px, 1fr));
}

.frame-img {
  /* temporal */
  /* max-width: 500px; */
  width: 100%;
  height: 100%;
  /* No siempre una imagen va a tener la misma proporción de tamaño que su contenedor padre, podemos usar object fit cover para solucionarlo a costa de la proporcion de la imagen, es necesario 100% par ancho y alto */
  object-fit: cover;
}

.frame {
  position: relative;
  /* filter, nos permite aplicar filtros visuales como ccambios de color, difuminación */
  /* grayscale(valor porcentual) y pone el elemento en escala de grises */
  filter: grayscale(100%);
  /* transición */
  transition-duration: 300ms;
  /* animación */
  animation-name: entrada;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.frame:hover {
  /* X Y Crecia color */
  box-shadow: 0 0 10px black;
  filter: grayscale(0);
  transform: translate(0, 5px) scale(1.03) rotate(0.5deg);

}


/* el espacio " " es un operador que indica todos los elementos de.. en este caso todos los span que esten dentro de .frame */
.frame span {
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.frame1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  animation-delay: 300ms;
}
.frame2 {
  grid-row: 1 / 3;
  animation-delay: 150ms;
}
.frame3 {
  grid-row: 1 / 3;
  animation-delay: 90ms;
}
.frame4 {
  grid-column: 2 / 4;
  animation-delay: 350ms;
}
.frame5 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  animation-delay: 200ms;
}
.frame9 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  animation-delay: 120ms;
}
.frame8 {
  grid-column: 3 / 5;
  animation-delay: 170ms;
}

/* keyframes (regla) */
@keyframes entrada {
  0% {
    /* no se va a ver la imagen, esta a una escala de 0 */
    transform: scale(0);
  }
  70% {
    /* aparecerá pero un poquito más grande que su tamaño original */
    transform: scale(1.05);
  }
  100% {
    /* lo dejemos con su tamaño original */
    transform: scale(1);
  }
}
