/* esto iria primero */
:root {
  /* variables, color, tamaño, fuente, todo lo usamos en css */
  --size-title: 36px;
  --primary-color: #1db954;
  --secondary-color-01: #000000;
  --secondary-color-02: #191414;
  --secondary-color-03: #505050;
  --secondary-color-04: #ffffff;

  --genre-color01: #55a891;
  --genre-color02: #27856a;
  --genre-color03: #5f8109;
  --genre-color04: #5e073b;
  --genre-color05: #f037a5;
  --genre-color06: #af2896;
  --genre-color07: #af2896;
  --genre-color08: #477d95;
  --genre-color09: #509bf5;
  --genre-color10: #1d3164;
  --genre-color11: #e8115b;
  --genre-color12: #e13300;
  --genre-color13: #ba5d07;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color-01);
  color:var(--secondary-color-04);
  font-family: 'Montserrat', Arial, sans-serif;
}

.explore-title {
  font-size: var(--size-title);
  margin-bottom:32px;
}

.explore {
  background-color: var(--secondary-color-02);
  margin:20px;
  padding:24px 16px;
  border-radius: 20px;
}

.explore-albums {
  display:grid;
  gap: 20px;
  /* auto-fit va a utilizar el tamaño mínimo o estático, que tenga los elementos hijos a los cuales se les esta el aplicando el grid, para que puedan colpasar */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.explore-box {
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
  height: 220px;
  position: relative;
  overflow: hidden;
}

.box-title {
  font-size: 24px;
}

.explore-box img {
  width: 180px;
  position: absolute;
  top: 60px;
  right: -30px;
  transform: rotate(20deg);
}

.explore-box:nth-of-type(1){
  background-color: var(--genre-color01);
}
.explore-box:nth-of-type(2){
  background-color: var(--genre-color02);
}
.explore-box:nth-of-type(3){
  background-color: var(--genre-color03);
}
.explore-box:nth-of-type(4){
  background-color: var(--genre-color04);
}
.explore-box:nth-of-type(5){
  background-color: var(--genre-color05);
}
.explore-box:nth-of-type(6){
  background-color: var(--genre-color06);
}
.explore-box:nth-of-type(7){
  background-color: var(--genre-color07);
}
.explore-box:nth-of-type(8){
  background-color: var(--genre-color08);
}
.explore-box:nth-of-type(9){
  background-color: var(--genre-color09);
}
.explore-box:nth-of-type(10){
  background-color: var(--genre-color10);
}
.explore-box:nth-of-type(11){
  background-color: var(--genre-color11);
}
.explore-box:nth-of-type(12){
  background-color: var(--genre-color12);
}
